<main>
  <!-- <Timer
    timerType="S2"
    wantedTime="1234-56-78"
    name="Thiokyseliny a další pro S2!"
    description="Test z názvosloví (S2)"
  />
  <Timer
    timerType="S1"
    wantedTime="1234-56-78"
    name="Thiokyseliny a další pro S1!"
    description="Test z názvosloví (S1)"
  /> -->
  <!-- zjistit datum! -->
  <Timer
    type="Entire-class"
    time="2024-11-08T08:55:54"
    name="Finding x"
    description="Čtvrtletka z matiky"
  />
  <Timer
    type="Entire-class"
    time="2024-11-13T08:01:41"
    name="Před naším letopočtem"
    description="Test z dějepisu"
  />
  <Timer
    type="French"
    time="2024-11-13T10:56:29"
    name="Another test for the French!"
    description="Test z francouzštiny (zase)"
  />
  <Timer
    type="Positive"
    time="2025-01-07"
    name="Upečeme se v Peci!"
    description="Lyžák"
  />
  <!-- ↓ Always last! ↓ -->
  <Timer
    type="Positive"
    time="2025-06-27T08:00:27"
    name="Nejlepší den roku 2025!"
    description="Konec školy! "
  />
</main>
