<!-- Don't forget to sort the timers! -->
<main>
  <app-timer
    type="Entire-class"
    time="2024-11-24"
    name="Antigona s Oidipúsem."
    description="Povinná četba."
  />
  <app-timer
    type="Entire-class"
    time="2024-11-25T10:55:17"
    name="3', 5', mRNA a další!"
    description="Test z biologie"
  />
  <app-timer
    type="S2"
    time="2024-11-26T10:56:32"
    name="pH, pOH a další. Nezapomeňte na kalkulihostroje!"
    description="Test z chemie. Nezapomeňte na kalkulačky!"
  />
  <app-timer
    type="S1"
    time="2024-11-26T11:50:06"
    name="H3O+, OH- a další. Nezapomeňte na kalkulihostroje!"
    description="Test z chemie. Nezapomeňte na kalkulačky!"
  />
  <app-timer
    type="French"
    time="2024-11-27T10:55:53"
    name="Eau."
    description="Test z francouzštiny. zase."
  />
  <app-timer
    type="S2"
    time="2024-11-28T08:00:28"
    name="Objective & subjective"
    description="Test z angličtiny"
  />
  <app-timer
    type="Positive"
    time="2025-01-07"
    name="Upečeme se v Peci!"
    description="Lyžák"
  />
  <!-- ↓ Always last! ↓ -->
  <app-timer
    type="Positive"
    time="2025-06-27T08:00:27"
    name="Nejlepší den roku 2025!"
    description="Konec školy! "
  />
</main>
<footer>
  Made by Vincent Horecký. Licenses can be found
  <a href="licenses.txt">here</a>.
</footer>
