<main>
  <app-timer
    type="Entire-class"
    time="2024-11-08T08:55:54"
    name="Finding x"
    description="Čtvrtletka z matiky"
  />
  <app-timer
    type="Entire-class"
    time="2024-11-13T08:01:41"
    name="Před naším letopočtem"
    description="Test z dějepisu"
  />

  <app-timer
    type="French"
    time="2024-11-13T10:56:29"
    name="Another test for the French!"
    description="Test z francouzštiny (zase)"
  />
  <app-timer
    type="S1"
    time="2024-11-11T08:00:21"
    name="Use the phrases!"
    description="Ústní zkoušení #1"
  />
  <app-timer
    type="Entire-class"
    time="2024-11-11T08:56:37"
    name="Merkur, Venuše, Země, Mars a další."
    description="Test ze sluneční soustavy"
  />
  <app-timer
    type="S1"
    time="2024-11-12:08:01:45"
    name="Again, use the phrases!"
    description="Ústní zkoušení #2"
  />
  <app-timer
    type="S1"
    time="2024-11-14T08:00:52"
    name="Le vocab."
    description="Test z angličtiny."
  />
  <app-timer
    type="Positive"
    time="2024-11-15T08:10:28"
    name="Dobrý den, soudruhu!"
    description="Samet na GJN"
  />
  <app-timer
    type="Positive"
    time="2025-01-07"
    name="Upečeme se v Peci!"
    description="Lyžák"
  />
  <!-- ↓ Always last! ↓ -->
  <app-timer
    type="Positive"
    time="2025-06-27T08:00:27"
    name="Nejlepší den roku 2025!"
    description="Konec školy! "
  />
</main>
<footer>
  Made by Vincent Horecký. Licenses can be found
  <a href="licenses.txt">here</a>.
</footer>
