@font-face {
  font-family: Inter;

  src: local("Inter"), url("./../public/Inter.ttf"),
    url("./../public/Inter-Italic.ttf");
}

$main-bck: #252525;
$main-font: #d1d1d1;
$art-bck: #313131;
$desc-font: #636363;
$button-bck: #313131;

main {
  display: grid;
  justify-content: center;
  background-color: $main-bck;
}

* {
  background-color: $main-bck;
  color: $main-font;
  font-family: Inter, Bahnschrift, "Helvetica Neue", sans-serif;
}

footer {
  &,
  a,
  a:hover,
  a:active,
  a:visited {
    color: $desc-font;
  }

  text-align: center;
  margin-top: 1em;
}
