@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$main-bck: #252525;
$main-font: #d1d1d1;
$art-bck: #313131;
$desc-font: #636363;
$button-bck: #313131;

main {
  display: grid;
  justify-content: center;
  background-color: $main-bck;
}

* {
  background-color: $main-bck;
  color: $main-font;
  font-family: Inter, Bahnschrift, "Helvetica Neue", sans-serif;
}

article {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: $art-bck;
  max-width: 100svw;

  * {
    background-color: $art-bck;
  }
}

.counting-parent {
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    min-width: 3em;
    min-height: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: $main-font;
    font-size: 2em;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: $art-bck;
    background-color: $main-font;
  }
}

div.description-parent {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;

  & > p {
    margin: 0;
  }
}

span.description {
  color: $desc-font;
}

footer {
  &,
  a,
  a:hover,
  a:active,
  a:visited {
    color: $desc-font;
  }

  text-align: center;
  margin-top: 1em;
}

/* Article classes */

.S1 {
  border: 4px solid #e6662b;
}

.S2 {
  border: 4px solid #44833c;
}

.French {
  border: 4px solid #4171ca;
}

.German {
  border: 4px solid #bbb42e;
}

.Positive {
  border: 4px solid $main-font;
}

.Entire-class {
  border: 4px solid $desc-font;
}

@media screen and (max-width: 560px) and (min-width: 405px) {
  .counting-parent {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 404px) {
  .counting-parent {
    font-size: 0.6rem;
  }
}
